.card{
  box-shadow: 5px 5px 5px 5px rgba(128,128,128,0.153);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
}
.card-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.input{
  padding: 10px 20px;
  font-size: 15px;
}
.form{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.btn{
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(78, 78, 176);
  border: none;
}
