*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#formDiv{
    margin: 20px;
}
#error{
    color: red;
}
label[for="firstName"]
,[for="lastName"]
,[for="age"]
,[for="phone"]
,[for="email"]
,[for="gender"]
,[for="male"]
,[for="female"]{
    display: block;
    margin-top: 10px;
}
.gender-container{
    display: flex;
}
#btn{
    padding: 10px 20px ;
}