*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
label{
    background-color: rgb(3, 33, 23);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
input{
    display: none;
}